{% extends "base.html" %}
{% set active_page = "gallery"-%}

{% block body %}

{% include "include/menu.html" %}

<body>
  <style>
  h1.about
  {
  font-size: 70px;
  display: block;
  background-color: aquamarine;
  font-style: inherit;
  text-align: center;
  }
  h1.about:hover
  {
  font-size: 80px;
  display: block;
  background-color:rgb(71, 218, 169);
  font-style: inherit;
  text-align: center;
  }
  
  p.zawartosc
  {
  background-color: burlywood;
  text-align: center;
  
  
  
  }
  body
  {
  
      background-color: burlywood;
  }
  p.powrot
  {
  
  display: block;
  text-align: center;
  font-size: 30px;
  }
  p.powrot:hover
  {
  
  display: block;
  text-align: center;
  font-size: 39px;
  }
  
  
  </style>
      <body>
      <h1 class= "about">About me </h1>
      <p class="zawartosc">"Jestem studentem 2 roku informartki. Interesuję sie sportem, podrozowaniem i grami komputerowymi a w wolnym czasie montuję filmy
      "</p>
      <p class="powrot"> <a href="index.html">Back to Home</a></p> 
  </body>
{% endblock %}
  