{% extends "base.html" %}
{% set active_page = "gallery"-%}
<body>
{% block body %}
{% include "include/menu.html" %}
<main>  
    <style>
        .col-4{
            margin-bottom: 20px;
        }
    </style>
    <div class="container">
        <h1>Galeria</h1>
        <div class="row">
            <div class="col-4">
                <a href="{{ url_for('static', filename='img1.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
                    <img src="{{ url_for('static', filename='img1.jpg') }}" class="img-fluid">
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url_for('static', filename='img2.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
                    <img src="{{ url_for('static', filename='img2.jpg') }}" class="img-fluid">
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url_for('static', filename='img3.jpg') }}"  data-toggle="lightbox"  data-gallery="my-gallery">
                    <img src="{{ url_for('static', filename='img3.jpg') }}" class="img-fluid">
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url_for('static', filename='img4.jpg') }}"  data-toggle="lightbox"  data-gallery="my-gallery">
                    <img src="{{ url_for('static', filename='img4.jpg') }}" class="img-fluid">
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url_for('static', filename='img5.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
                    <img src="{{ url_for('static', filename='img5.jpg') }}" class="img-fluid">
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url_for('static', filename='img6.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
                    <img src="{{ url_for('static', filename='img6.jpg') }}" class="img-fluid">
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url_for('static', filename='cat.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
                    <img src="{{ url_for('static', filename='cat.jpg') }}" class="img-fluid">
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url_for('static', filename='cat2.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
                    <img src="{{ url_for('static', filename='cat2.jpg') }}" class="img-fluid">
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url_for('static', filename='cat3.jpg') }}" data-toggle="lightbox"  data-gallery="my-gallery">
                    <img src="{{ url_for('static', filename='cat3.jpg') }}" class="img-fluid">
                </a>
            </div>
        </div>

            
          
    </div>
</main>
<script>  
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>

{% endblock %}
  </body>